.cont{
	margin: 100px 0px 100px 10px;
}
button{
	width: 100px;
	height: 80px;
	margin: 2px;
	font-size: 20px;
	color: white;
	background: black;
	border: white 3px solid;
}
button:hover{
	background: dodgerblue;
}