.contain{
	display: inline;	
}
.second{
	background: green;
}
.one{
	background: black;
	color: white;
	border: solid 3px white;
	width: 120px;
	font-size: 17px;
	height: 45px;
	margin: 0px 0px 0px 0px;
	
}
img{
	width: 80px;
	heigth: 80px;
	margin-left: 30px;
}
.logo{
	color:  blue;
	margin-bottom: -5px;
	font-size: 18px;
	width: 130px;
	height: 47px;
	text-align: center;
}
.logi{
	font-size: 20px;
	margin-bottom: -5px;
	width: 150px;
	height: 45px;
	text-align: center;
}
.instru{
	font-size: 20px;
}
