.contain{display: inline};
.second{
	background: green;
}
.one{
	background: black;
	border: solid 3px white;
	width: 120px;
	height: 45px;
	margin-left: 15px;
}
img{
	width: 90px;
	heigth: 90px;
	margin-left: 38px;
}
.logo{
	border: black 1px solid;
	font-size: 20px;
	width: 150px;
	height: 80px;
	text-align: center;
}
